*.js eol=lf
**/locales/*.json linguist-generated=true
build/** linguist-generated=false
report/assets/styles.css linguist-generated=false
report/renderer/components.js linguist-generated=true
*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
